

.display_streak {
    position: absolute;
    top: 3rem;
    left: 3rem;

    margin: 0;

    font-size: 2rem;
    font-weight: 700;

    color: #9C9C9C;
}

.display_streak_error {
    color: #F35F62;

    position: absolute;
    top: 3rem;
    left: 3rem;

    margin: 0;

    font-size: 2rem;
    font-weight: 700;
}

.back {
    position: absolute;
    top: 3rem;
    right: 3rem;

    border: none;
    background-color: transparent;

    margin: 0;

    font-size: 2rem;
    font-weight: 700;

    color: #9C9C9C;

    cursor: pointer;
    transition: 0.2s;
}

.back:hover {
    transform: scale(1.05);
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}


.problem_width {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 22rem;
}

.problem {
    font-size: 3.5rem;
    margin: 0;
}


.input_container {
    width: inherit;
    height: fit-content;

    border: 3px solid black;
    border-radius: 12px;

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.input_field {
    border: none;
    outline: none;

    width: inherit;
    text-align: center;

    font-size: 2.5rem;
}







.number_buttons {
    margin-top: 2rem;

    display: grid;

    grid-template-columns: repeat(3, 5rem);
    gap: 1rem;
}

.number_buttons > button {
    height: 4.5rem;

    border: 3px solid black;
    border-radius: 12px;
    background-color: transparent;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;
}

.number_buttons > button:hover {
    transform: scale(1.05);
}

.number_buttons > button:active {
    transform: scale(1);
}

.equals {
    grid-column: 1 / span 3;
}